<a href="https://colab.research.google.com/github/bryanfandawa/telecom-churn-project/blob/main/notebooks/customer_churn_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#upload from local drive
from google.colab import files
uploaded = files.upload()

Saving WA_Fn-UseC_-Telco-Customer-Churn.csv to WA_Fn-UseC_-Telco-Customer-Churn.csv

In [3]:
#read file and save to dataframe
import io
df = pd.read_csv(io.BytesIO(uploaded['WA_Fn-UseC_-Telco-Customer-Churn.csv']))

In [4]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

customerID = Customer ID

gender = Whether the customer is a male or a female

SeniorCitizen = Whether the customer is a senior citizen or not (1, 0)

Partner = Whether the customer has a partner or not (Yes, No)


Dependents
= Whether the customer has dependents or not (Yes, No)

tenure
= Number of months the customer has stayed with the company


PhoneService
= Whether the customer has a phone service or not (Yes, No)


MultipleLines
= Whether the customer has multiple lines or not (Yes, No, No phone service)


InternetService
= Customer’s internet service provider (DSL, Fiber optic, No)


OnlineSecurity
= Whether the customer has online security or not (Yes, No, No internet service)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [7]:
df.shape

(7043, 21)

In [8]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.nunique()

customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [11]:
df = df.drop(columns = ["customerID"])

In [12]:
import re
df.columns = df.columns.str.replace(r'\xa0', ' ', regex = True).str.strip()
df.columns = df.columns.str.replace(r'(?<!^)(?=[A-Z])', '_', regex = True)
df.columns = df.columns.str.lower().str.replace(r'_t_v', '_tv', regex=True)

In [13]:
df.columns.tolist()

['gender',
 'senior_citizen',
 'partner',
 'dependents',
 'tenure',
 'phone_service',
 'multiple_lines',
 'internet_service',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'contract',
 'paperless_billing',
 'payment_method',
 'monthly_charges',
 'total_charges',
 'churn']

In [14]:
col_names = df.columns.tolist()

In [15]:
#df = df.applymap(lambda x: str(x).strip(" '") if isinstance(x, str) else x)

In [16]:
for i in col_names:
  print(f"----{i}----")
  print(df[i].unique())
  print("")

----gender----
['Female' 'Male']

----senior_citizen----
[0 1]

----partner----
['Yes' 'No']

----dependents----
['No' 'Yes']

----tenure----
[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]

----phone_service----
['No' 'Yes']

----multiple_lines----
['No phone service' 'No' 'Yes']

----internet_service----
['DSL' 'Fiber optic' 'No']

----online_security----
['No' 'Yes' 'No internet service']

----online_backup----
['Yes' 'No' 'No internet service']

----device_protection----
['No' 'Yes' 'No internet service']

----tech_support----
['No' 'Yes' 'No internet service']

----streaming_tv----
['No' 'Yes' 'No internet service']

----streaming_movies----
['No' 'Yes' 'No internet service']

----contract----
['Month-to-month' 'One year' 'Two year']

----paperless_billing----
['Yes' 'No']

----payment_method----
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

----monthly_charges----
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]

----total_charges----
['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']

----churn----
['No' 'Yes']

In [17]:
col_yes_no = ["partner", "dependents", "paperless_billing", "churn", "phone_service"]
for i in col_yes_no:
  df[i] = df[i].map({"Yes": 1, "No": 0})

In [18]:
col_no_internet = ["online_security", "online_backup", "device_protection", "tech_support", "streaming_tv", "streaming_movies"]
for i in col_no_internet:
  df[i] = df[i].map({"No internet service":0, "Yes":1, "No":0})
df["multiple_lines"] = df["multiple_lines"].map({"Yes": 1, "No": 0, "No phone service": 0})

In [19]:
df = pd.get_dummies(df, columns=["internet_service", "contract", "payment_method"], drop_first=False, dtype=int)

In [20]:
df["gender"] = df["gender"].map({"Male":1, "Female":0})

In [21]:
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,internet_service_DSL,internet_service_Fiber optic,internet_service_No,contract_Month-to-month,contract_One year,contract_Two year,payment_method_Bank transfer (automatic),payment_method_Credit card (automatic),payment_method_Electronic check,payment_method_Mailed check
0,0,0,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,1,0,0,0,34,1,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,1,0,0,0,2,1,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,1,0,0,0,45,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0
4,0,0,0,0,2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

In [22]:
pd.to_numeric(df["total_charges"], errors = "coerce").notna().all()

np.False_

In [23]:
mask = pd.to_numeric(df["total_charges"], errors = "coerce").isna()
df.loc[mask, "total_charges"]

488
753
936
1082
1340
3331
3826
4380
5218
6670
6754
Name: total_charges, dtype: object

In [24]:
df["total_charges"] = df["total_charges"].astype(str).str.strip()
df["total_charges"].replace('', np.nan, inplace = True)

/tmp/ipython-input-3971440321.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["total_charges"].replace('', np.nan, inplace = True)

When you want to convert a string to something that's not a string, don't use the pandas function str.replace, use the built in python method .replace

In [25]:
df.loc[mask,"total_charges"]

488     NaN
753     NaN
936     NaN
1082    NaN
1340    NaN
3331    NaN
3826    NaN
4380    NaN
5218    NaN
6670    NaN
6754    NaN
Name: total_charges, dtype: object

In [26]:
df["total_charges"] = pd.to_numeric(df["total_charges"], errors = "coerce")

In [27]:
df["total_charges"].isna().sum()

np.int64(11)

In [28]:
df.dropna(subset = ["total_charges"], inplace = True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   gender                                    7032 non-null   int64
 1   senior_citizen                            7032 non-null   int64
 2   partner                                   7032 non-null   int64
 3   dependents                                7032 non-null   int64
 4   tenure                                    7032 non-null   int64
 5   phone_service                             7032 non-null   int64
 6   multiple_lines                            7032 non-null   int64
 7   online_security                           7032 non-null   int64
 8   online_backup                             7032 non-null   int64
 9   device_protection                         7032 non-null   int64
 10  tech_support                              7032 non-null   int64
 11  streaming_tv                              7032 non-null   int64
 12  streaming_movies                          7032 non-null   int64
 13  paperless_billing                         7032 non-null   int64
 14  monthly_charges                           7032 non-null   float64
 15  total_charges                             7032 non-null   float64
 16  churn                                     7032 non-null   int64
 17  internet_service_DSL                      7032 non-null   int64
 18  internet_service_Fiber optic              7032 non-null   int64
 19  internet_service_No                       7032 non-null   int64
 20  contract_Month-to-month                   7032 non-null   int64
 21  contract_One year                         7032 non-null   int64
 22  contract_Two year                         7032 non-null   int64
 23  payment_method_Bank transfer (automatic)  7032 non-null   int64
 24  payment_method_Credit card (automatic)    7032 non-null   int64
 25  payment_method_Electronic check           7032 non-null   int64
 26  payment_method_Mailed check               7032 non-null   int64
dtypes: float64(2), int64(25)
memory usage: 1.5 MB

In [30]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(r"\s+", "_", regex = True)
df.columns = df.columns.str.replace("(", "", regex = False)
df.columns = df.columns.str.replace(")", "", regex = False)
df.columns.tolist()

['gender',
 'senior_citizen',
 'partner',
 'dependents',
 'tenure',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'monthly_charges',
 'total_charges',
 'churn',
 'internet_service_dsl',
 'internet_service_fiber_optic',
 'internet_service_no',
 'contract_month-to-month',
 'contract_one_year',
 'contract_two_year',
 'payment_method_bank_transfer_automatic',
 'payment_method_credit_card_automatic',
 'payment_method_electronic_check',
 'payment_method_mailed_check']

In [31]:
df.to_csv("/content/cleaned_telecom_churn.csv", index=False)

In [32]:
from google.colab import files
files.download("cleaned_telecom_churn.csv")